.disclaimer-premium {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 24px 7px 15px;
    margin: 12px;
    background: linear-gradient(to right, #ae2896, #509bf5);
    display: flex;
    justify-content: space-between;
}

.disclaimer-premium .text {
    flex-shrink: 0;
}

.disclaimer-premium .disclaimer-premium__title {
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 8px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.disclaimer-premium button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}
